<nav>
   <ul class="menu">
        <li><a class="menu-item" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a class="menu-item" routerLink="/countries" routerLinkActive="active">Countries</a></li>
        <li><a class="menu-item" routerLink="/places" routerLinkActive="active">Places</a></li>   
        <li><a class="menu-item" routerLink="/search" routerLinkActive="active">Search</a></li>
        <li><a class="menu-item" routerLink="/summary" routerLinkActive="active">Summary</a></li>
   </ul>
</nav>