<body>
    <br>
    <h5>Update information about place</h5>
    <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)= "onSubmit()">

            <div class="form-group">
                <label for="name">Place id</label>
                <input type="text" class="form-control" id="id" required [(ngModel)]="placeId" name="id">
            </div>

            <div class="form-group">
                <label for="name">Place name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="placeName" name="name">
            </div>

            <div class="form-group">
                <label for="name">Nearest city</label>
                <input type="text" class="form-control" id="city" required [(ngModel)]="placeCity" name="city">
            </div>

            <div class="form-group">
                <label for="name">Days for exploration</label>
                <input type="text" class="form-control" id="days" required [(ngModel)]="placeDays" name="days">
            </div>

            <div class="form-group">
                <label for="status">Place status</label>
                <select class="form-control" id="status" required [(ngModel)]="placeStatus" name="status">
                    <option>TO_VISIT</option>
                    <option>VISITED</option>
                    <option>NEXT_TRIP</option>
                    <option>FAVORITE</option>
                    <option>NEVER_AGAIN</option>
                  </select>
            </div>

            <div class="form-group">
                <label for="name">Place description</label>
                <textarea type="text" class="form-control" id="description" required [(ngModel)]="placeDescription" name="description" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="name">Country id</label>
                <input type="text" class="form-control" id="countryId" required [(ngModel)]="placeCountryId" name="countryId">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>            

        </form>

    </div>

    <div [hidden]="!submitted">
        <h6>Place information updated successfully!</h6>
    </div>
</body>