h5 {
    margin-left: 20px;
    color: cornsilk;
}

div {
    margin-left: 20px;
    color: cornsilk;
}

button {
    margin-top: 20px;
}

body {
    background-image: url("../../assets/kazbek.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -20px;
}