h5 {
    margin-left: 20px;
}

p {
    margin-left: 37px;
    font-weight: 600;
}

button {
    margin-left: 20px;
}

body {
    background-image: url('../../assets/algier_ok.jpg');
    margin-top: -16px;
}