h5 {
    margin-left: 25px;
    margin-bottom: 15px;
}

label {
    margin-left: 25px;
}

input {
    margin-left: 25px;
}

button {
    margin-left: 25px;
    margin-top: 25px;
}

body {
    background-image: url("../../assets/countries_glob_ok.jpg");
    background-size: 100% 100%;
    margin-top: -16px;
}

h6 {
    font-style: italic;
    margin-left: 25px;
}